.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: rebeccapurple; */
    padding: 1rem;
    /* border: 1px solid rgb(61, 59, 59); */
    /* border-radius: 5px; */
  }
  .input{
    padding: .5rem 2rem;
    border-radius: 10px;
  }